body {
  background: #000000;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #00FF7F;
}

.site-header .navbar-nav .nav-link {
  color: #e4eaed;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

p1 {
  font-size: 24px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;

  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-heading {
  font-size: 2.5rem;
}

#startSearchBtn {
  width: 200px;
  margin-right: 20px;
}

.button1 {
    background-color: black;
  color: green;
    font-size:15px;
    font-family: Arial, sans-serif;
  border: 2px solid #000000; /* Black */
  transition-duration: 0.4s;
    border-radius: 20px;
    margin-right: 10px;
  margin-left: 10px;
    padding: 8px 100px;
    width: 120px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.button2 {
    background-color: white;
  color: #696969;
    font-size:15px;
     font-family: Arial, sans-serif;
  border: 2px solid #696969; /* Grey */
  transition-duration: 0.4s;
    border-radius: 20px;
    margin-right: 10px;
  margin-left: 10px;
    padding: 8px 100px;
    width: 120px;
    text-align: center;
        padding-top: 0;
    padding-bottom: 0;
}

.button1:hover {
  color: green;
}

.button2:hover {
  color: green;
}