{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <div>
    <h3> About Anifind </h3>

    <p1>
      Anifind is an easy to use recommendation tool to find relevant anime videos developed by Andrew Seong, Dylan
      Manuel, Jarrod Ragsdale, and Xi Tang.</p1>
    <hr>
  </div>
  <div>
    <h3> Features </h3>

    <p1> Our website contains hundreds of anime videos ranging from various different categories over a span of many
      years, guaranteed for each user's liking. Anyone may create an account with a username and password associated
      with
      an email. Each page contains an embedded anime thumbnail, a synopsis, and allows the user to rate the video to
      his/her liking, improving the recommendation machine learning model.</p1>
    <hr>
  </div>
  <div>
    <h3> Technical Aspects </h3>

    <p1> A dataset of popular anime videos was stored in a Google Cloud SQL database, using encrypted keys, and a mail
      server. We built a recommendation
      prediction model using <code>surprise</code>, using previously recorded ratings of the anime videos as a baseline
      for our machine learning model combined with the user's history and rating of previous videos to recommend the
      user
      his/her next anime video to view.</p1>
  </div>
</div>
{% endblock content %}