<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>AniFind - {{ title }}</title>
    {% else %}
        <title>Anifind</title>
    {% endif %}
</head>
<body class="en" data-new-gr-c-s-check-loaded="14.1054.0" data-gr-ext-installed="">
	<div id="wrap">
<!-- header -->
<div id="header">
	<div class="header_inner">
		<h1 class="logo"><a {{ url_for('home') }} class="btn_logo N=a:gnb.home,g:en_en">AniFind</a></h1>
	<div class="sta">
			<!-- [D] account management -->
            {% if current_user.is_authenticated  %}
		    <a href="{{ url_for('account') }}" class="lk_login" id="btnLogin">Account</a>
		    {% else %}
		    <a href="{{ url_for('login') }}" class="lk_publish N=a:gnb.publish,g:en_en" id="btnPublish">Log In</a>
		    <a href="{{ url_for('register') }}" class="lk_login" id="btnLogin">Register</a>
            {% endif %}

		<span class="login N=a:gnb.mywebtoon,g:en_en" id="btnLoginInfo" style="display: none;"></span>
	</div>
	<p class="blind">MENU</p>
	<ul class="lnb NE=a:gnb">
       {% if current_user.is_authenticated and current_user.history is string %}
		<li class="m01 on">
			<a href="{{ url_for('start') }}" class="NPI=a:daily,g:en_en">
				<h>START</h>
			</a>
		</li>
        {% endif %}
		<li class="m02">
			<a href="{{ url_for('discover') }}" class="NPI=a:genre,g:en_en">
				<h>DISCOVER</h>
			</a>
		</li>
		<li class="m03">
			<a href="{{ url_for('home') }}" class="NPI=a:toprated,g:en_en">
				<h>ABOUT</h>
			</a>
		</li>
	</ul>
	<div id="appleid-signin" data-color="black" data-border="true" data-type="sign in" hidden=""></div>
</div>
</div>
<!-- //header -->
</body>
</html>