{% extends "layout.html" %}
{% block content %}
<div>
    <div class="startSearch">
        <label class="startSearch">
    <input type="text" placeholder="Search...">
            <input type="button">
  </label>
        <div>
<label class="btn btn-light">
    <input type="checkbox" class="form-check list-group-item">Comedy
  </label>
  <label class="btn btn-light">
    <input type="checkbox" class="form-check list-group-item">Action
  </label>
    <div>
  <label class="btn btn-light">
    <input type="checkbox" class="form-check list-group-item">Romance
  </label>
  <label class="btn btn-light">
    <input type="checkbox" class="form-check list-group-item">Adventure
  </label>
        </div>
</div>
    </div>


{% endblock content %}
