{% extends "layout.html" %}
{% block content %}
<div>
    <div>
        <label class="btn btn-light">
    <input type="text" placeholder="Search...">
  </label>
    </div>
<label class="btn btn-light">
    <input type="checkbox" class="form-check list-group-item">Comedy
  </label>
  <label class="btn btn-light">
    <input type="checkbox" class="form-check list-group-item">Action
  </label>
  <label class="btn btn-light">
    <input type="checkbox" class="form-check list-group-item">Romance
  </label>
  <label class="btn btn-light">
    <input type="checkbox" class="form-check list-group-item">Quater 4
  </label>
</div>


{% endblock content %}