<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>AniFind - {{ title }}</title>
    {% else %}
        <title>Anifind</title>
    {% endif %}

</head>
<body class="en" data-new-gr-c-s-check-loaded="14.1054.0" data-gr-ext-installed="">
	<div id="wrap">
<!-- header -->
<div id="header">
	<div class="header_inner">
		<h1 class="logo"><a href="{{ url_for('home') }}">AniFind</a></h1>
        <div class="sta">

<div>
<div style="horiz-align: left">

            <a class="lk_login" href="{{ url_for('home') }}">About</a>
            {% if current_user.is_authenticated and current_user.history is string %}
			<a href="{{ url_for('discover') }}" class="lk_login">Discover</a>
        {% else %}
			<a href="{{ url_for('start') }}" class="lk_login">Start</a>
        {% endif %}

			<!-- [D] account management -->
<div style="horiz-align: right">
            {% if current_user.is_authenticated  %}
		    <a href="{{ url_for('account') }}" class="lk_login">Account</a>
            <a href="{{ url_for('logout') }}" class="lk_login">Logout</a>
		    {% else %}
		    <a href="{{ url_for('login') }}" class="lk_login">Log In</a>
		    <a href="{{ url_for('register') }}" class="lk_login">Register</a>
            {% endif %}
</div>
    </div>
</div>
	</div>

        {% block content %}{% endblock %}
</div>
</div>
<!-- //header -->
        </div>
</body>

</html>